{% include 'layout.html' %}

<div class="container">
  <div class="card">
    <div class="card-header">
      Add a card as an account
    </div>
    <div class="card-body">
      <form method="post">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" name="name" required>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea name="description" class="form-control" rows="3" required></textarea>
        </div>
        <div class="form-group">
          <label>Card Type</label>
          <select class="form-control" name="card_type" required>
            {% for cardtype in cardtypes %}
              <option value="{{cardtype.id}}">{{cardtype.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label>Balance</label>
          <input type="number" class="form-control" name="balance" step="any" required>
        </div>
        <button type="submit" class="btn btn-primary">Add new card</button>
      </form>
    </div>
  </div>
</div>
