{% include 'layout.html' %}

<div class="container">
    <div class="card">
      <div class="card-header">
        Edit your {{cd_type}}
      </div>
      <div class="card-body">
        <form method="post">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" value="{{custom_data.name}}" required>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea name="description" class="form-control" rows="3" required>{{custom_data.description}}</textarea>
          </div>
          <button type="submit" class="btn btn-primary">Save Details</button>
          <button onclick="window.location.href='/custom-data/delete/{{cd_type}}/{{custom_data.id}}'" type="button" class="btn btn-danger" >Delete {{cd_type}}</button>
        </form>
      </div>
    </div>
  </div>