{% include 'layout.html' %}

<div class="container">
    <div class="card-group">
        <h1 class="display-3">Expense Tracker</h1>
            <p class="lead">
                Tracking your spending is often the first step in getting your finances in order. By understanding what you spend money on and how much you spend, you can see exactly where your cash is going and areas where you can cut back. It's easy to make this part of your everyday routine thanks to expense tracker that help you manage your money on the go. 
            </p>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Account Type</h5>
            <p class="card-text">There can be several types of accounts like savings, wallet, credit-based and debit-based. You can have as many as account types as you can.</p>
            <a href="/custom-data/account-type" class="card-link">Add Account Type</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Income Type</h5>
            <p class="card-text">Income types are your sources of income. Salary and loan are 2 quick examples.</p>
            <a href="/custom-data/income-type" class="card-link">Add Income Type</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Expense Type</h5>
            <p class="card-text">Expense types are sources of your expenditure. Mobile Bill, House Rent are few examples.</p>
            <a href="/custom-data/expense-type" class="card-link">Add Expense Type</a>
          </div>
        </div>
      </div>
</div>