{% include 'layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <h1 class="display-3">Expense Tracker</h1>
            <p class="lead">
                Tracking your spending is often the first step in getting your finances in order. By understanding what you spend money on and how much you spend, you can see exactly where your cash is going and areas where you can cut back. It's easy to make this part of your everyday routine thanks to expense tracker that help you manage your money on the go. 
            </p>
            <h1 class="display-4">Account Type</h1>
            <p class="lead">
                There can be several types of accounts like savings, wallet, credit-based and debit-based. You can have as many as account types as you can. Account-type can be added from Menu.
            </p>
            <h1 class="display-4">Income Type</h1>
            <p class="lead">
                Income types are your sources of income. Salary and loan are 2 quick examples. You can add your own custom income type from above Menu. 
            </p>
            <h1 class="display-4">Expense Type</h1>
            <p class="lead">
                Expense types are sources of your expenditure. Mobile Bill, House Rent are few examples. You can add your own custom expense type from above Menu. 
            </p>
            <h1 class="display-4">Accounts/Cards</h1>
            <p class="lead">
                Based on your account type, a card or account can be created in which you can add your expenses and incomes. You can add your own custom account/card from above Menu.
            </p>
        </div>
    </div>
</div>