{% include 'layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">List of your cards</h5>
            <p class="card-text">Information regarding all the cards linked to your account</p>
        </div>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action list-group-item-secondary" aria-current="true">
                Add your custom income type for transactions
            </button>
            <button type="button" class="list-group-item list-group-item-action list-group-item-secondary">
                Add your custom expense type for transactions
            </button>
            <button onclick="window.location.href='/account-types'" type="button" class="list-group-item list-group-item-action list-group-item-secondary">
                Add your custom account type for transactions
            </button>
            <button onclick="window.location.href='/cards'" type="button" class="list-group-item list-group-item-action list-group-item-secondary">
                Go to your accounts
            </button>
        </div>
    </div>
</div>